.form-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-left: 40vw;
 

}



#main-form {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
  max-width: 400px;
  width: 100%;
  color: black;
  position: relative;
  left: 550px;
  top: 80px;
}

.error-message {
  color: red;
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-weight: bold;
}

input {
  padding: 15px;
  margin-bottom: 15px;
  font-family: 'Arial', sans-serif; 
  
}

input[type="submit"]{
  background-color: rgb(194, 76, 230);
  color: white;
  cursor: pointer;
}
p{
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: green;

}
body{
  background-color: grey;
}
h1{
  position: relative;
  left: 660px;
}